.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #014391 !important;
}

.bg-body-tertiary {
    background-color: #fff !important;
    border-bottom: 1px solid #dee2e6 !important;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 160px;
    background-color: #f54f10 !important;
    color: #ffffff !important;
    font-weight: bold;
}

.naslov-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    flex-direction: column;
}

.naslov {
    margin-top: 30px;
    font-size: 48px;
    font-weight: bold;
    color: #014391;
}
.naslov:after {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    background-color: #f54f10;
    margin: 16px auto 0;
}